# --- Python --- #
# Ambientes virtuais
**/venv/

# Arquivos de cache do Python
**/__pycache__/
*.pyc

# --- Node.js --- #
# Módulos de dependência
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de build do frontend
/web_app/frontend/build/

# --- Arquivos Gerados (Índices e Dados) --- #
/web_app/faiss_index/
/web_app/faiss_index_estruturado/
/web_app/feedback.csv
/web_app/base_conhecimento.csv
/web_app/base_conhecimento_limpa.csv
/scripts/analise.txt

# --- Arquivos de Ambiente --- #
# NUNCA versione chaves de API ou segredos
.env
*.env
.env.*
!/.env.example

# --- Outros --- #
.DS_Store